.order {
  display: grid;
  grid-template-rows: repeat(auto-fill, 3.7rem);
  max-height: 18rem;
  overflow: auto;
  margin-bottom: 1.5rem;

  &__row {
    display: grid;
    grid-template-columns: 3rem 1fr 7rem;
    column-gap: 0;
    justify-items: center;
    align-items: start;
    text-align: center;
    max-height: fit-content;
    line-height: 1.2;
    height: 3.7rem;
    font-weight: 500;
    justify-items: start;
  }

  &__price-options-wrapper {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.25rem;
  }

  &__quantity {
    font-weight: 700;
    font-size: 1.4rem;
  }
  &__item-price {
    font-size: 1.3rem;
  }

  &__cart {
    display: grid;

    button {
      justify-self: end;
      margin-bottom: 1.2rem;
      font-size: 1.2rem;
    }
  }
  &__check {
    color: var(--color-grey-700);
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5.5rem;
    height: 10rem;

    h2 {
      margin-bottom: 0.4rem;
      font-size: 1.8rem;
    }
  }

  &__total {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__total-sum {
    font-weight: 600;
  }

  &__check-btn {
    justify-self: center;
  }

  &__item-btns {
    display: flex;
    gap: 0.5rem;
    height: fit-content;

    svg {
      margin-top: -0.3rem;
      width: 1.7rem;
      height: 2rem;
    }
  }

  &__message {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 3rem;
    height: 16rem;
  }
}
