.nav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(#000, 0.9);
  border: 2px solid #fff;
  box-shadow: 0 0 1.1rem rgba(#000, 0.6);
  width: fit-content;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 2rem;

  a {
    display: block;
    height: 3rem;
  }

  svg {
    width: 2.8rem;
    height: 2.8rem;
  }
}
