.nav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(#000, 0.9);
  border: 2px solid #fff;
  box-shadow: 0 0 1.1rem rgba(#000, 0.6);
  width: fit-content;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  z-index: 20;

  a {
    display: block;
    height: 2.6rem;
  }

  svg {
    width: 2.6rem;
    height: 2.6rem;
  }
}
