.item {
  width: 100%;

  &__img {
    width: 100%;
    aspect-ratio: 6/4;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    svg {
      font-size: 2.4rem;
    }
  }

  &__img-overlay {
    background-color: rgba(#110000, 0.6);
    backdrop-filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img-warning {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-grey-300);
    line-height: 1.8;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: currentColor;
    }
  }

  &__details {
    padding: 0.8rem 1.5rem 0.4rem 1.5rem;
  }

  &__presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
  }

  &__name {
    font-size: 1.8rem;
  }

  &__price {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-grey-800);
  }

  &__description {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    color: var(--color-text-primary);
  }

  &__expand-btn {
    display: flex;
    justify-content: flex-end;
  }

  &__info-icons {
    position: absolute;
    bottom: 0.8rem;
    left: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__info-spice {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: 0.6rem 1rem;

    img {
      width: 2.5rem;
    }
  }
  &__info-vegan {
    background-color: var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
