.stories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0.8rem 1rem 1.6rem 1rem;
}

.story {
  background-size: cover;
  background-position: center;
  background-color: #000;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  outline: 3px solid var(--color-primary-main);

  @media only screen and (min-width: 23em) {
    width: 7.75rem;
    height: 7.75rem;
  }
  @media only screen and (min-width: 25em) {
    width: 8.75rem;
    height: 8.75rem;
  }
}
