.stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.8rem 1rem 1.6rem 1rem;
}

.story {
  background-size: cover;
  background-position: bottom;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 3px solid var(--color-primary-main);

  &:nth-child(1) {
    background-image: url("../../../assets/story1.jpg");
  }
  &:nth-child(2) {
    background-image: url("../../../assets/story2.jpg");
  }
  &:nth-child(3) {
    background-image: url("../../../assets/story3.jpg");
  }
  &:nth-child(4) {
    background-image: url("../../../assets/story4.jpg");
  }
}
