.stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.7rem 0.1rem 1.5rem 0.1rem;
  gap: 0.9rem;
  margin: 0 1rem;
  height: 10rem;
  overflow-x: scroll;

  @media only screen and (min-width: 23em) {
    height: 11rem;
  }
  @media only screen and (min-width: 23em) {
    height: 12rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.story {
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-color: #000;
  width: 7.3rem;
  height: 7.3rem;
  border-radius: 50%;
  border: 3px solid var(--color-primary-main);

  @media only screen and (min-width: 23em) {
    width: 8.1rem;
    height: 8.1rem;
  }
  @media only screen and (min-width: 25em) {
    width: 9rem;
    height: 9rem;
  }

  &__close {
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 1001;
  }

  &__next {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 1000;
  }
  &__previous {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    z-index: 1000;
  }
}
