.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;

  &__name {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 2rem;
  }
}
