// Material UI modified classes
// Material UI classes are wrapped in local classes so just necessary styles are overwritten

.user-alert {
  .MuiAlert-standard {
    align-items: center;
  }
  .MuiAlert-standard .MuiAlert-message {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.btn-show-more.MuiButton-text {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.3rem 0;
}
