// Material UI modified classes
// Material UI classes are wrapped in local classes so just necessary styles are overwritten

.user-alert {
  .MuiAlert-standard {
    align-items: center;
  }
  .MuiAlert-standard .MuiAlert-message {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.btn-show-more.MuiButtonBase-root {
  padding: 0;
  margin-top: -0.2rem;

  svg {
    width: 3rem;
    height: 3rem;
  }
}

.dialog {
  .MuiPaper-rounded {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .MuiDialogTitle-root {
    padding-bottom: 0;
  }
}

.dialog-action-btns.MuiDialogActions-root {
  padding-right: 1.5rem;

  .MuiButtonBase-root.MuiButton-root {
    width: fit-content;
    min-width: unset;
  }
}
