@font-face {
  font-family: "Okami";
  src: url("../assets/Okami.otf");
}
@font-face {
  font-family: "Exoplanetaria";
  src: url("../assets/exoplanetaria-ff.ttf");
}

.heading-primary {
  font-family: "Okami", sans-serif;
  font-size: 2.8rem;
  border: 3px solid var(--color-primary-main);

  text-transform: uppercase;
  padding: 0 2.5rem;
  border-radius: 2rem;
  line-height: 1.1;
}
.heading-secondary {
  font-family: "Okami";
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}
