.tabs__container {
  background-color: var(--color-white);
  border-radius: 2rem;
  gap: 1rem;
  height: fit-content;
  padding: 1rem 1.4rem;
  margin: 0rem 0.3rem;
  margin-top: 0.7rem;
  overflow: auto;
}

.tabs {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0.8rem;
  gap: 1rem;
  height: fit-content;
  list-style: none;
  overflow: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
