.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;

  &__groupname {
    padding: 0.5rem 0;
    margin-bottom: 0.3rem;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    gap: 1.2rem;
  }
  &:last-child {
    margin-bottom: 1rem;
    padding-bottom: 4rem;
  }
}
