.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 0.5rem;

  &__item {
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    // mix-blend-mode: c;
    // filter: ;
  }
}
